main{
  width: 984px;


}
.list-group{
  font-size: 12px;
}
.mail-title{
  font-size: 16px;
}


.star_outline {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.page-arrow a:hover{
  color: rgb(146, 146, 146);
}

